
nav{
  max-width: 100vh;
}
.container-fluid{
  max-width: 100vh;
}


.signout{
  float: right;
  cursor: pointer;
}


/*@media screen and (min-width: 400px){*/
  /*nav{*/
    /*width: 360px;*/
  /*}*/

/*}*/
/*@media screen and (max-width: 750px ){*/

  /*nav{*/
    /*width: 650px;*/
  /*}*/

/*}*/
/*@media screen and (max-width: 550px) {*/
  /*nav{*/
    /*width: 480px;*/
  /*}*/

/*}*/
