<div id="main-container">
    <div id="wrapper">
        <div id="fb-icon" class="icon-container">
            <a href="https://www.facebook.com/vishnuvardhan999" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div id="tw-icon" class="icon-container">
            <a href="https://twitter.com/vishnuvardhan96?fbclid=IwAR1wYOPITs6EZxhnCl7QHEzJVr_MZAtkQZl1AtdHZBKj6GBBX-yIO6hRCUI" class="twi"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div id="insta-icon" class="icon-container">
            <a href="https://www.instagram.com/thefotogs/?fbclid=IwAR0BtGOwrQmOzsV5yC2P34NpanrrRYjMZg8ePVNqpp_HRZsGFScWH-U_5ec" class="insta"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div id="pin-icon" class="icon-container">
            <a href="https://in.pinterest.com/vishnuvardhan1996/?fbclid=IwAR1J2O269d72x53zRSyfxHKTgcRhQfbkpntY5XzkT6u7IYqhaqfHXbc6pfk" class="pint"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        </div>
        <div id="lin-icon" class="icon-container">
            <a href="" class="linked"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
