<div id="main-container">
  <div id="wrapper">
      <div class="title-container" style="font-weight: bold; font-size: 30px">Who is behind all this </div>
      <div id="about-container">
        <div class="description">
          <p class="description-styling" style="font-size: 18px"><br><br>Hello this is Vishnu Vardhan<br></p>
          <ul>
            <br>
            <li><p class="description-styling">Photograph as a group with several different photographers, or work independently on my own</p></li>
            <li><p class="description-styling">Earned and maintained positive reputation of excellent customer service with quality work</p></li>
            <li><p class="description-styling">Managed a successful blog to showcase current work & helpful information for potential clients</p></li>
            <li><p class="description-styling">Provide expert consultation to each client (corporate or individual) on creating the most appropriate style, mood and expression to meet or elevate their expectations from each shoot.</p></li>
          </ul>

        </div>
        <div class="picture">
          <img src="./assets/vishnu.jpg" alt="">
        </div>
      </div>
      <div id="about-container-mobile">
          <div class="picture">
              <img src="./assets/vishnu.jpg" alt="">
            </div>
          <div class="description">
            <p class="description-styling" style="font-size: 18px"><br>Hello this is Vishnu Vardhan<br><br></p>
        <ul>
          <br>
          <li><p class="description-styling">Photograph as a group with several different photographers, or work independently on my own</p></li>
          <li><p class="description-styling">Earned and maintained positive reputation of excellent customer service with quality work</p></li>
          <li><p class="description-styling">Managed a successful blog to showcase current work & helpful information for potential clients</p></li>
          <li><p class="description-styling">Provide expert consultation to each client (corporate or individual) on creating the most appropriate style, mood and expression to meet or elevate their expectations from each shoot.</p></li>
        </ul>

      </div>
      </div>
    <div class="services-wrapper">
      <div class="title-container" style="font-weight: bold; font-size: 30px; margin-bottom: 3%;">My Services</div>
      <div id="services-container">
        <div class="service-main-container">
          <div class="logo-container">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
          </div>
          <div class="service-details-container">
              <div class="service-title-container">
                  <p class="service-title">Food Photography</p>
              </div>
              <div class="service-description-container">We'll make your Food look more delicious than it tastes </div>
          </div>
        </div>
        <div class="service-main-container">
          <div class="logo-container">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
          <div class="service-details-container">
              <div class="service-title-container">
                  <p class="service-title">Wedding Photography</p>
              </div>
              <div class="service-description-container">We'll take you back to your wedding day and make your relive all those memories whenever you see these pictures</div>
          </div>
        </div>
        <div class="service-main-container">
          <div class="logo-container">
            <i class="fa fa-diamond" aria-hidden="true"></i>
          </div>
          <div class="service-details-container">
              <div class="service-title-container">
                  <p class="service-title">Jewelery Photography</p>
              </div>
              <div class="service-description-container">We'll give people a reason to wear the jewelery just by looking at these pictures</div>
          </div>
        </div>
        <div class="service-main-container">
          <div class="logo-container">
              <i style="font-size: 32px;" class="fa fa-child" aria-hidden="true"></i>
          </div>
          <div class="service-details-container">
              <div class="service-title-container">
                  <p class="service-title">Child Photography</p>
              </div>
              <div class="service-description-container">We'll show the world your child the way you see them </div>
          </div>
        </div>
        <div class="service-main-container">
          <div class="logo-container">
            <i class="fa fa-mars" aria-hidden="true"></i>
          </div>
          <div class="service-details-container">
              <div class="service-title-container">
                  <p class="service-title">Birth Photography</p>
              </div>
              <div class="service-description-container">We'll show you every bit of happiness this baby is going to bring into your life </div>
          </div>
        </div>
        <div class="service-main-container">
          <div class="logo-container">
            <i class="fa fa-hashtag" aria-hidden="true"></i>
          </div>
          <div class="service-details-container">
              <div class="service-title-container">
                  <p class="service-title">Fashion Photography</p>
              </div>
              <div class="service-description-container">Lets show the world the meaning of Fashion with your Looks and our Pics</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
