
<body>
<app-header></app-header>

<div class="container ">
  <div class="row">
    <div class="col-md-12">
<link rel="stylesheet" href="/src/app/files/css/lightbox.css" type="text/html">
<script type="text/javascript" src="../files/js/lightbox.min.js"></script>
<script type="text/javascript" src="../files/js/jquery.js"></script>

<div class="row">

  <div class="row">
    <div class="col-xs-4">
  <h5> Select Category: <select name=" category"  class=" form-control" id="type"  (change)="loadImages($event.target.value)" >
    <option disabled selected value> </option>
    <option value="portrait"> Portrait</option>
    <option value="landscape">Landscape</option>
    <option value="wedding"> Wedding </option>
    <option value="birthday"> birthday </option>
    <option value="party"> Party </option>
    <option value="best"> Best of all </option>


  </select></h5>
</div>
  </div>

  <div class="container thumbnails" *ngIf="this.str != null">
    <div id="grid">
      <div *ngFor="let img of data; let i =index " >


         <a  class="imgContainer" > <img src="{{img.url}} " class="thumbnail" width="304" height="236">

           <div class="button"><a href="{{img.url}}" data-lightbox="gallery" style="margin-bottom: 20px ;margin-left: 5px"> VIEW </a>
             <a (click)="onDelete(i)"> DELETE </a></div>
         </a>


      </div>
    </div>
  </div>


  <!--<div class="container" *ngIf="this.str.length != null">-->
    <!--<div >-->
  <!--<div  class=" result "  style="padding: 0 ;width: 250px" *ngFor="let img of data; let i =index " >-->
    <!--<div >-->
     <!--<img id="myImg"-->
      <!--src="{{img.url}}" class="img-thumbnail img-responsive "  width="304" height="236" >-->

      <!--<div id="myModal" class="modal">-->
        <!--<span class="close">&times;</span>-->
        <!--<img class="modal-content" id="img01">-->
        <!--<div id="caption"></div>-->
      <!--</div>-->

    <!--</div>-->
   <!--</div>-->
  <!--</div>-->

    <!--&nbsp;-->
<!--</div>-->

</div>
    </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById("myImg");
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
</script>
</body>
