<div id="main-container">
    <div id="wrapper">
        <p id="title-text" style="font-size: 30px;font-weight: bold; margin-bottom: 2%;">Get in Touch with Me</p>
        <div id="contact-container">
            <div class="contact-block">
                <div class="logo-container">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>jubilee enclave hitech city</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="logo-container">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>+91 8464949771</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="logo-container">
                    <i style="font-size: 40px;" class="fa fa-mobile" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>+91 8464949771</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="logo-container">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>vishnuvardhan96@gmail.com</p>
                </div>
            </div>
        </div>
        <div id="send-message-container">
            <div class="message-container">
                <label class="form-field">Name</label>
                <input class="form-field" type="text" name="" id="">
                <label class="form-field">Email</label>
                <input class="form-field" type="text" name="" id="">
                <label class="form-field" >Subject</label>
                <input class="form-field" type="text" name="" id="">
            </div>
            <div class="message-container">
                <label class="form-field">Message</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <input id="submit-btn" type="submit" value="Send Message" class="submit">
            </div>
        </div>
    </div>
</div>
