<div id="main-container">
    <div id="wrapper">
        <p id="title-text" style="font-size: 30px;font-weight: bold; margin-bottom: 2%;">Get in Touch with Me</p>
        <div id="contact-container">
            <div class="contact-block">
                <div class="logo-container">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>jubilee enclave hitech city</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="logo-container">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>+91 8464949771</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="logo-container">
                    <i style="font-size: 40px;" class="fa fa-mobile" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>+91 8464949771</p>
                </div>
            </div>
            <div class="contact-block">
                <div class="logo-container">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>
                <div class="details-container">
                    <p>vishnuvardhan96@gmail.com</p>
                </div>
            </div>
        </div>
        <div id="send-message-container">
          <form [formGroup]="messageForm" (ngSubmit)="onSendMessage()">
            <div class="message-container">
                <label class="form-field">Name</label>
                <input class="form-field" type="text" name="name" id="name" formControlName="name" required>
              <span class="text-muted" *ngIf="!messageForm.controls['name'].valid && messageForm.controls['name']?.touched"> Please enter a name</span>
                <label class="form-field">Email</label>
                <input class="form-field" type="email" name="email" id="email" formControlName="email" required>
              <span class="text-muted" *ngIf="!messageForm.controls['email'].valid && messageForm.controls['email']?.touched"> Please enter a valid email</span>
                <label class="form-field" >Subject</label>
                <input class="form-field" type="text" name="subject" id="subject" formControlName="subject">
            </div>
            <div class="message-container">
                <label class="form-field">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" formControlName="message" required></textarea>
              <span class="text-muted" *ngIf="!messageForm.controls['message'].valid && messageForm.controls['message']?.touched"> Please enter message</span>
                <input id="submit-btn" type="submit" value="Send Message" class="submit">
            </div>
          </form>
        </div>
    </div>
</div>
