<div id="main-container">
    <div id="side-bar">
        <div id="logo">
            <a href="#">
                <img src="assets/logo.png">
            </a>
        </div>
        <div id="menu-container">
            <div class="menu-item active" id="first-block2" >
                <a (click)="scroll('first-block','first-block2')">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </div>
            <div class="menu-item" id="portfolio2">
                <a (click)="scroll('portfolio','portfolio2')">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </a>
            </div>
            <div class="menu-item" id="about2">
                <a (click)="scroll('about','about2')">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
            </div>
            <div class="menu-item" id="contact2">
                <a (click)="scroll('contact','contact2')">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                </a>
            </div>
            <div class="menu-item" id="footer2">
                <a (click)="scroll('footer','footer2')">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
