<body>
<app-header></app-header>

<div class="container ">
  <div class="row">
    <div class="col-md-12">

<div class="row">
<div class="row">
   <div class=" col-sm-4">

   <h5> Select Category: <select name=" category"  class=" form-control" id="type"  (change)="ChangingValue($event.target.value)" >
     <option disabled selected value> </option>
     <option value="portrait"> Portrait</option>
     <option value="landscape">Landscape</option>
     <option value="wedding"> Wedding </option>
     <option value="birthday"> birthday </option>
     <option value="party"> Party </option>
     <option value="best"> Best of all </option>


   </select></h5>

   </div>

</div>
<div class="dropzone col-xs-4"
     dropzone *ngIf="str != undefined"
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">


  <h3>Drag and Drop Images</h3>
  <p>or</p>

  <div class="file">
    <label class="file-label">

      <input class="file-input" *ngIf="str != undefined"  type="file" name = "Choose Image"(change)="onDrop($event.target.files)" title=" ">
    </label>
  </div>
</div>

<h3>Uploads</h3>

<div *ngFor="let file of files">
  <uploadimage [file]="file" [category]= "str" ></uploadimage>
</div>

</div>


    </div>
  </div>
</div>
</body>
