<div id="main-container">
        <div id="title-container">
                <div class="head">
                        <h1 style="font-weight: bold;">Hello! This is Fotogs</h1>
                </div>
                <div class="tail">
                        <h1>specializing in landscape, advertorial and conceptual photography </h1>
                </div>
        </div>
        <div class="downArrow">
                <a (click)="scroll()"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        </div>
</div>
<!--<div id="portfolio">-->
<!--<app-portfolio></app-portfolio>-->

<!--</div>-->
<!--<div id="about">-->
<!--<app-about></app-about>-->

<!--</div >-->
<!--<div id="contact">-->
<!--<app-contact></app-contact>-->

<!--</div>-->
<!--<div id="footer">-->
<!--<app-footer></app-footer>-->

<!--</div>-->
